<html>
  <head>
  <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
  <title> Choose Your Action</title>
    <link rel='stylesheet' href='/stylesheets/bootstrap.min.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
   </head>
   <body>

   	<div class="alert alert-warning"> It seems you have been hit a page not on our site. <a src="/information">Go to homepage.</a> </div>

   </body>
   </html>