<html>
  <head>
  <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
  <title> Choose Your Action</title>
    <link rel='stylesheet' href='/stylesheets/bootstrap.min.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
   </head>
   <body>
   <p> Tutorial for the Word game goes here. </p>
   	<div class="alert alert-warning">
      <form method='post' action='/entry'>
        <input type='submit' value='Go to game' />
      </form>

   </body>
   </html>